@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: linear-gradient(129deg, #68B2F8 18.66%, #6D5FDB 42.21%, #7037CD 61.46%, #651F71 80.87%);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.second,
.trd,
.frt,
.fft {

  display: flex;
  flex-direction: column;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.trd {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 100vw;
  position: relative;
}

.trd2{
  align-items: center;
  height: 100vh;
}

.trd2 .auxiliar{
  display: flex;
  transition: opacity 3s ease;
}

.favs{
  display: none;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.musicas, .filmes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  width: 40%;
  height: 70%;
}


.mus, .fil{
  border-radius: 30px;
  border: 2px solid #FFF;
  width: 100%;
  height: 70%;
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 400ms ease;
}

.mus:hover, .fil:hover{
  transform: scale(1.2);
}

.mus:nth-of-type(1){
  background-image: url('imgs/fka.jpg');
}
.mus:nth-of-type(2){
  background-image: url('imgs/mitski.jpeg');
}
.mus:nth-of-type(3){
  background-image: url('imgs/mel.jpg');
}
.mus:nth-of-type(4){
  background-image: url('imgs/marina.jpg');
}
.mus:nth-of-type(5){
  background-image: url('imgs/grimes.jpg');
}
.mus:nth-of-type(6){
  background-image: url('imgs/kali.jpg');
}

.fil:nth-of-type(1){
  background-image: url('imgs/cisne.jpeg');
}
.fil:nth-of-type(2){
  background-image: url('imgs/people.jpg');
}
.fil:nth-of-type(3){
  background-image: url('imgs/castle.jpg');
}
.fil:nth-of-type(4){
  background-image: url('imgs/monstros.jpg');
}
.fil:nth-of-type(5){
  background-image: url('imgs/central.jpeg');
}
.fil:nth-of-type(6){
  background-image: url('imgs/interstellar.jpeg');
}
.auxiliar {
  display: flex;
  height: 90vh;
  justify-content: center;
  position: sticky;
  top: 0;
  flex-direction: column;
  max-width: 50%;
}

.trd2{
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
}

.auxiliar2{
  justify-content: center;
  height: 100%;
}

.frt {
  padding: 5%;
  box-sizing: border-box;
  background: black;
}

.topSobre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-family: 'Urbanist';
  font-size: 3em;
  font-weight: 800;
  margin: 0;
}

.trd h1 {
  font-size: 6vw;
  font-weight: 600;
}

.first,
.second {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.second{
  height: 300vh;
}





.fotos {
  display: flex;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  height: 100%;
}

.foto {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 20%;
}

.foto:nth-of-type(1) {
  background-image: url('imgs/leo.png');
}

.foto:nth-of-type(2) {
  background-image: url('imgs/kamaleo.jpeg');
}

.foto:nth-of-type(3) {
  background-image: url('imgs/apts.jpeg');
}

.foto:nth-of-type(4) {
  background-image: url('imgs/sandy.jpeg');
}

.foto:nth-of-type(5) {
  background-image: url('imgs/eg.jpeg');
}

.foto:nth-of-type(5) {
  background-image: url('imgs/sofi.jfif');
}

.nome {
  display: flex;
  flex-direction: column;
  background: black;
  width: 80%;
  border-bottom-right-radius: 33px;
  height: 100vh;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.aux {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botoesMain {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
  padding: 0;
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.botoesMain li {
  width: 33%;
  text-align: start;
  cursor: pointer;
}

li a:hover {
  text-decoration: underline;
}

.tipo {
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nomeEu {
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: end;
  width: 100%;
}

.middle {
  display: flex;
  flex-direction: row;
  padding: 2%;
  box-sizing: border-box;
  width: 100vw;
  height: 33%;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-around;
}

.sobremim, .sobremim2 {
  width: 80%;
  color: #FFF;
  text-align: start;
  font-size: 2.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sobremim2{
  width: 100%;
}

.voltar {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.voltar:hover {
  transform: scale(1.2);
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, auto);
  gap: 30px;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  margin: 0;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-width: 100px;
  min-height: 300px;
  border-radius: 33px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1); 
}

.cardin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 10%;
  background-color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 33px;
}

.mais {
  font-weight: 600;
  color: black;
}

.cardin {
  opacity: 0;
}

.card {
  background-size: cover;
  background-position: center;
}

.card:nth-of-type(1) {
  background-image: url('imgs/insta.png');
}

.card:nth-of-type(2) {
  background-image: url('imgs/pitchd.png');
}

.card:nth-of-type(4) {
  background-image: url('imgs/pitchdd.png');
}

.card:nth-of-type(3) {
  background-image: url('imgs/labmeta.png');
}

.card:nth-of-type(5) {
  background-image: url('imgs/gbio.png');
}

.card:nth-of-type(6) {
  background-image: url('imgs/primavera.png');
}

#acesse{
  border-radius: 33px;
  border: white 1px solid;
}

.descricao{
  display: flex;
  width: 100%;
  text-align: justify;
  font-size: 0.8em;
}

.redes {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 30%;
  min-height: 100px;
}

.in,
.git {
  height: 100%;
  min-width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 33px;
  cursor: pointer;
}

.in {
  background-image: url('imgs/in.png');
}

.git {
  background-image: url('imgs/git.png');
}

.local {
  display: flex;
  flex-direction: row;
}

.fft {
  display: flex;
  align-items: start;
  justify-content: space-around;
  background-image: none;
  width: 100vw;
  right: 0;
  background: transparent;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.topProj {
  width: 100%;
}

.middleProj{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.middleProj h1 {
  color: #FFF;
  font-family: 'Urbanist';
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.middleProj h2 {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.middleProj a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background:white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bottomProj {
  width: 100%;
  height: auto;
}

#inicio {
  cursor: pointer;
}

.linha{
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  width: 200vw;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 750px) {

  .trd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin-bottom: 30%;
    overflow-x: hidden;
  }

  .cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 50%;
    width: 100%;
    overflow-x: scroll;
  }

  .auxiliar {
    display: flex;
    height: 10%;
    justify-content: start;
    position: static;
    flex-direction: column;
    max-width: 100%;
    padding: 5%;
    box-sizing: border-box;
  }

  .card {
    min-width: 150px;
    min-height: 100px;
  }

  .trd h1 {
    font-size: 15vw;
  }

  .sobremim {
    width: 100%;
    font-size: 3vw;
  }

  .first{
    flex-direction: column;
    height: 100vh;
  }
  .fotos{
    flex-direction: row;
    width: 100%;
    height: 30%;
    position: relative;
    overflow-x: scroll;
  }
  .nome{
    width: 100%;
    height: 90%;
    position:static;
    top: unset;
  }

  .foto {
    min-width: 150px;
    min-height: 100px;
    width: unset;
    height:unset;
  }

  .mus, .fil{
    width: 50%;
    height: 30%;
    min-width: 100px;
    min-height: 100px;
  }

  .musicas, .filmes{
    gap: 10px;
    width: 90%;
    height: 50%;
  }

  .favs{
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 100%;
    flex-direction: column;
  }
  
  .fft{
    display: none;
  }

  .linha{
    height: 100vh;
  }
}